{% extends 'regular_page.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Adclassify</h1>
        <a href="{{ path('admin') }}">Admin</a>
        <a href="{{ path('classification') }}">Classification</a>
        <a href="{{ path('classification_status') }}">Classification Status</a>
    </div>
{% endblock %}
