
#bulk-categories {
    background: rgba($primary, .1);
}

.banner-box {
    > div {
        transform-origin: top left;
        transition: all .2s ease;
        z-index: 999;
        position: relative;

        &:hover {
            transform: scale(1.0) !important;
            z-index: 9999;
        }

        * {

            z-index: 9999;
        }
    }
}